body {
    background-color: rgba(179, 77, 204, 0.733);
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
  }
  .container {
    width: 35%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
    font-weight: bolder;
  }
  .header h1 {
    margin: 0;
  }
  div p {
    padding-bottom: 20px;
  }
  form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(1, 43, 29);
  }
  .navbar {
    width: 100%;
  
    border: 1px solid black;
    overflow: auto;
  }
  .navbar a {
    float: left;
    text-decoration: none;
    width: 50%;
    text-align: center;
  }
  .active {
    background-color: rgb(1, 43, 29);
    color: white;
    padding: 10px 0px;
  }
  .inactive {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 0px;
  }
  
  .control {
    margin-top: 10px;
  }
  label {
    display: inline-block;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
  }
  p {
    margin: 0;
  }
  .para{
      margin:auto;
      text-align: center;;
  }
  textarea {
    width: 100%;
    resize: vertical;
    clear: both;
    padding: 5px;
  }
  input {
    display: block;
    padding: 5px;
    width: 100%;
  }
  .size {
    width: 100%;
    margin: auto;
  }
  .size > input {
    display: inline-block;
    width: 47.2%;
    padding: 5px;
  }
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
  }
  
  button:hover {
    background-color: rgba(179, 77, 204, 0.733);
    transition: 0.5s;
  }
  